.icon-wrapper{
  width: 40px;
  line-height: 45px;
  font-size: 40px;
  background: #fff1fa;
  transition: 250ms all ease-in-out;
  &:hover{
    color: #050009;
  }
  & app-todo-input{
    background: #fff1fa;

  }
}
