<app-todo-item
  class="mt-8"
  *ngFor="let item of todos$| async"
  [data]="item"
  (changeStatus)="onChangetodo($event)"
  (editTodo)="inEditTodo($event)"
  (deleteItem)="delete($event)"
>
</app-todo-item>

<table>
  <tr>
    <th>id</th>
    <th>userId</th>
    <th>title</th>
  </tr>
  <tr *ngFor="let item of dataAPI">
    <td>{{item.id}}</td>
    <td>{{item.userId}}</td>
    <td>{{item.title}}</td>
  </tr>

</table>

<button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button>

<!--su dung voi subcribe-->
<!--<div *ngFor="let item of dataAPI">-->
<!--  {{item.title}}-->
<!--</div>-->
