.footer{
  position: relative;
  .demo-footer{
    display: flex;
    justify-content: space-evenly;

    position: absolute;
    top :200px;
    left: 100px;
    .btn{
      margin-left: 10px;
    }
  }
  //background-color: blue;

}
