<!--<router-outlet></router-outlet>-->
<!--<h1>hoàng yên</h1>div-->
<div class="wrapper d-flex flex-column align-items-center">
  <h1 class="title"> To do du lieu</h1>
  <input type="text" id="fname" name="fname">
  <br>
  <div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
    <app-header></app-header>
    <app-todo-list> </app-todo-list>
    <app-footer></app-footer>

  </div>
  <small class="instruction text-center">
    <em>
      ấn Enter to create new todos
    </em>
    <br><br>
    coppyright by Hoangyen-lio

  </small>
</div>
