<!--<router-outlet></router-outlet>-->
<!--<h1>hoàng yên</h1>div-->
<div class="wrapper flex flex-col items-center">
  <h1 class=" text-red-300 font-semibold text-8xl"> To do du lieu</h1>
  <br>
  <div class="todo-wrapper w-9/12">
    <app-header></app-header>
    <app-todo-list> </app-todo-list>
    <app-footer *ngIf="hasTodo$ |async"></app-footer>

  </div>
  <small class="instruction text-center">
    <em>
      ấn Enter to create new todos
    </em>
    <br><br>
    coppyright by Hoangyen-lio

  </small>
</div>
